@use '@angular/material' as mat;

// Define a dark theme
$primary: mat.define-palette(mat.$grey-palette, 900);
$accent: mat.define-palette(mat.$grey-palette, 100);
$theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include mat.core();
@include mat.all-component-themes($theme);

// Override global body
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #000000 !important;  // enforce black
  color: #000000 !important;             // enforce white
}
