// GLOBAL APPLICATION BASE STYLES ---

// 1. Set base properties for the document structure
html, body {
  height: 100%;
  margin: 0;
  // Using a common, readable font
  font-family: 'Inter', sans-serif;
}

// 2. Target the Angular root element (<app-root>) for global styling.
app-root {
  display: block;
  height: 100%;
  
  /* Basic default theme colors for better visibility */
  background: black; /* Dark Grey Background */
  color: #f3f4f6;            /* Light Text */
}